<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target includeMode="feature" name="mavenTychoDemo" sequenceNumber="116">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.100.v20180827-1352"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.13.200.v20180906-0745"/>
<unit id="org.eclipse.platform.sdk" version="4.9.0.I20180906-0745"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.15.0.v20180916-1232"/>
<repository location="http://download.eclipse.org/releases/2018-09"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>